<header class="top-panel">
  <form method="get" class="search-form" action="https://www.google.com/search" target="_blank">
    <input type="hidden" name="sitesearch" value="knowledgeday.in" />
    <input class="search-input" type="text" name="q" maxlength="255" placeholder="Search posts" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="flexy">
    <a class="btn" href="/tags">Browse by Tags</a>
    <a class="btn btn-subscribe" href="/signup?utm_source=kdweb_header&utm_medium=website">Subscribe</a>
  </div>
</header>
