<script>
	function processPathParams() {
		var urlParams = new URLSearchParams(location.search);

		if (urlParams.has('r')) { // r = reader
			let readerFNameVar = atob(urlParams.get('r')); // base64 decode
			if (readerFNameVar)
			{
				let readerFNameList = document.getElementsByName('reader-fname');
				readerFNameList.forEach(readerelement => {
					readerelement.innerHTML = readerFNameVar;
				});
			}

			let personalizedBlocks = document.getElementsByClassName("personal-text");
			Array.from(personalizedBlocks).forEach(
				function(element, index, array) {
					element.classList.remove("personal-text");
				});

			// todo: background: get userId and log it for stats
		}
	}
	processPathParams();
</script>
